<!DOCTYPE html>
<html lang = "en" xmlns = "http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv = "content-type" content = "text/html; charset=UTF-8">
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sadukie's School of Thought</title>
    <!-- Bootstrap core CSS -->
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity = "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin = "anonymous">
    <!--Google Font For Title-->
    <link href = "https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap"
          rel = "stylesheet">
    <!-- Custom styles for this template -->
    <link href = "../static/css/blogStyles.css" th:href = "@{/css/blogStyles.css}" rel = "stylesheet">

    <style th:inline = "text">

    </style>

</head>

<body>
    <div th:replace = "fragments/blogFragments :: blogNavBar"></div>

    <div class = "container">
        <div class = "row">
            <main role = "main" style = "width: 100%">
                <div class = "content">

                    <!--INSERT MAIN CONTENT HERE-->

                    <h2 class = "blogPostTitle" th:text = "${post.title}">Blog Post Title goes here</h2>
                    <p class = "small" th:text = "${post.postAt +' by '+ post.user.firstName+' '+post.user.lastName}">
                        <span>Friday, October 13 2020</span> by <span>Sarah "Sadukie" Dutkiewicz</span>
                    </p>

                    <!--                    <img src = "images/1261723.jpg" alt = "Superman" width = "30%" style = "float:right; margin: 1rem;">-->
                    <div class = "tinyContent" th:utext = "${post.content}">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus congue diam non egestas
                            eleifend. Aenean malesuada id ligula sed dignissim. Nullam volutpat orci at risus accumsan
                            faucibus. Nam quis vehicula orci. Nam efficitur, justo vitae pulvinar pretium, ante ligula
                            tincidunt ipsum, sit amet volutpat ipsum ante tempor erat. Cras pellentesque est sed leo
                            vestibulum laoreet. Sed lacinia ex at placerat lobortis. Quisque lacinia nisl neque, ut
                            tristique turpis tincidunt id. Nam placerat facilisis vestibulum. Aenean tortor metus,
                            pulvinar vel varius aliquet, tincidunt ut nisi. Praesent vel facilisis enim, quis vulputate
                            elit. Curabitur hendrerit sollicitudin dictum. Aliquam felis metus, lacinia congue tristique
                            in, tincidunt sit amet tortor. Ut fringilla scelerisque purus, at fringilla purus vehicula
                            quis.
                        </p>
                        <p>
                            Fusce et est vel felis volutpat fringilla. Sed ex ipsum, pulvinar sit amet varius eu, congue
                            eu odio. Proin ullamcorper lorem in sem molestie vulputate. Sed hendrerit ex lacus,
                            tincidunt
                            rhoncus urna aliquet sed. Duis pulvinar ipsum nisi, sit amet vestibulum arcu consectetur at.
                            Nullam accumsan nibh dui, sed elementum ligula pulvinar at. Morbi quam erat, ultricies et
                            lacus sed, lobortis viverra dui. Nam non est laoreet, luctus nibh et, condimentum mauris.
                            Proin ultricies commodo metus, id egestas lorem bibendum ac. Etiam ultrices eu velit sed
                            dapibus. In faucibus lobortis tortor id gravida. Maecenas tristique, odio at tincidunt
                            sagittis, libero purus condimentum purus, quis pretium neque nisi ac orci. Vivamus viverra
                            erat eu mattis molestie. Sed ac sapien scelerisque, pharetra lacus ut, aliquam dui. Mauris
                            lacinia dui vitae vulputate luctus. Nunc quis consequat diam.
                        </p>
                        <p>
                            Sed fermentum dolor id purus faucibus iaculis. Nunc ac convallis augue. Vestibulum a
                            facilisis ipsum, semper pellentesque ex. Proin pulvinar metus id nisl blandit pulvinar. Nam
                            viverra porttitor mauris, id sollicitudin est vehicula ac. Vivamus molestie est sed libero
                            laoreet hendrerit. Praesent iaculis venenatis dolor, non iaculis augue faucibus ut. Nam
                            purus
                            velit, ultrices at lobortis id, faucibus ac velit. Duis scelerisque laoreet tincidunt.
                        </p>
                        <p>
                            Fusce fermentum risus vel ante varius, at sollicitudin orci suscipit. Pellentesque ut mi
                            lobortis, varius urna vitae, mattis odio. Nullam mollis justo eu nisi interdum, nec
                            imperdiet
                            quam viverra. In laoreet molestie mauris, ut mollis leo molestie eget. Maecenas quis
                            vestibulum arcu, vestibulum feugiat sapien. Aliquam et luctus sapien. Fusce vehicula commodo
                            sem et interdum. Ut tristique rhoncus elit. Proin aliquam facilisis lorem in mattis. Sed
                            tempus est sed nisi auctor, quis lacinia nibh semper. Suspendisse feugiat porttitor risus,
                            eu
                            sodales elit feugiat ut. Mauris enim ante, vestibulum tempus egestas a, tincidunt quis sem.
                            Aenean vitae rhoncus dui, id euismod elit. Curabitur nulla odio, lacinia non nisl vitae,
                            auctor pulvinar ipsum.
                        </p>
                        <p>

                            In justo ex, porttitor eu fermentum ac, bibendum dignissim lorem. Nunc efficitur molestie
                            scelerisque. Vestibulum vel quam a risus gravida laoreet sit amet non ipsum. Duis nec turpis
                            sed leo fermentum semper. Fusce at semper nulla. Nam quis nisl nec nulla malesuada
                            scelerisque. Mauris quis urna sodales, varius dui at, rutrum urna. Mauris blandit mi non
                            justo ultricies tempus. Sed fermentum semper lectus non ullamcorper. Sed orci massa,
                            fermentum et dignissim sit amet, sollicitudin sit amet nisi. Pellentesque nec ligula
                            finibus,
                            tempus urna et, aliquet erat. Curabitur condimentum aliquam est ac porta. Duis in varius
                            urna, at faucibus velit.
                        </p>

                    </div>
                    <!--END OF TINY CONTENT DIV-->

                    <hr>
                    <div class = "hashtags small">
                        <span th:each = "hashtag : ${post.hashtagsForPost}">
                            <a th:href = "@{/blog/hashtag(id=${hashtag.hashtagId})}"
                               th:text = "${'#'+hashtag.title}">#Hashtag</a>
                        </span>
                    </div>

                    <!--BEGIN COMMENT SECTION-->
                    <div class = "commentSection mx-auto" style = "align-content: center">
                        <p class = "offset-2 my-4">
                            <span class = "h5">What do you think? Leave a comment! </span>
                            <span class = "small" sec:authorize = "isAnonymous()">(must be logged in)</span>
                        </p>
                        <div th:if = "${errors}">
                            <div class = "col-12 m-1 text-center"
                                 th:if = "${!errors.isEmpty()}">
                                <p class = "alert alert-danger" th:each = "error : ${errors}"
                                   th:text = "${error.message}">Error message</p>
                            </div>
                        </div>

                        <form th:action = "@{/blog/submitComment}" method = "post" class = "mx-auto"
                              sec:authorize = "isAuthenticated()">
                            <div class = "form-group-row my-3">
                                <label for = "commentTitle" class = "sr-only">Comment Title</label>
                                <input type = "text" name = "commentTitle" id = "commentTitle" class = "offset-2 col-8"
                                       placeholder = "Comment Title"></div>
                            <div class = "form-group-row my-3">
                                <label for = "commentContent" class = "sr-only">Comment Content</label>
                                <textarea name = "commentContent" id = "commentContent" class = "offset-2 col-8"
                                          rows = "4"
                                          placeholder = "Comment"></textarea>
                            </div>

                            <input type = "hidden" th:value = "${#authentication.principal.userId}" name = "userId"
                                   id = "userId">

                            <input type = "hidden" th:value = "${post.postId}" name = "postId" id = "postId">

                            <input type = "hidden"
                                   th:name = "${_csrf.parameterName}"
                                   th:value = "${_csrf.token}"/>

                            <div class = "offset-8">
                                <button type = "submit" class = "btn btn-outline-dark">Post Comment
                                </button>
                            </div>
                        </form>

                        <div class = "commentsForPost offset-2">
                            <h6>Comments (<span th:text = "${#lists.size(comments)}"></span> replies)</h6>
                            <div class = "eachComment my-3" th:each = "comment: ${comments}">
                                <div class = "row">
                                    <div class = "col-1" th:text = "${comment.user.firstName}">FirstName
                                    </div>
                                    <div class = "col-11" th:text = "${comment.title}"
                                         style = "font-weight: bold"></div>
                                    <div class = "offset-1"></div>
                                    <div class = "col-9" th:text = "${comment.content}"></div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <!--END COMMENT SECTION-->

                    <!--PREVIOUS AND NEXT BUTTONS-->
                    <div class = "row justify-content-between mt-5" th:if = "${post.staticPage} == false">
                        <span>
                            <a th:if = "${olderPost}!= null" th:href = "@{/blog/post(id=${olderPost.postId})}"
                               class = "btn btn-outline-info">Previous Post</a>
                        </span>
                        <span th:if = "${newerPost}!= null">
                            <a th:href = "@{/blog/post(id=${newerPost.postId})}"
                               class = "btn btn-outline-info">Next Post</a>
                        </span>
                    </div>
                    <!--PREVIOUS AND NEXT BUTTONS END-->

                    <!--END OF MAIN CONTENT-->

                </div>
            </main>
        </div>
    </div>

    <div th:replace = "fragments/blogFragments :: scriptsForAllFiles"></div>
</body>

</html>