<!DOCTYPE html>
<html lang = "en" xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv = "content-type" content = "text/html; charset=UTF-8">
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name = "description" content = "">
    <meta name = "author" content = "">

    <title>Error - Sadukie's School of Thought</title>
    <!-- Bootstrap core CSS -->
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity = "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin = "anonymous">
    <!--Google Font For Title-->
    <link href = "https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap"
          rel = "stylesheet">
    <!-- Custom styles for this template -->
    <link href = "css/login.css" th:href = "@{/css/login.css}" rel = "stylesheet">
</head>

<body class = "text-center" style = "flex-direction: column">


    <div style = "width: 100%" class = "m-4">
        <a class = "h1 text-dark" href = "/">Sadukie's School of Thought</a>
        <h3 class="m-4" th:if="!${message}">We're sorry, that request could not be processed</h3>
        <h3 class="m-4" th:if="${message}" th:text="${message}"></h3>
        <span class="btn btn-outline-dark" onclick="history.back()" >Go Back</span>
    </div>
    <!--    <div style = "width: 100%">-->
    <!--       -->
    <!--    </div>-->

    <div th:replace = "fragments/blogFragments :: scriptsForAllFiles"></div>
</body>
</html>