<!DOCTYPE html>
<html lang = "en" xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">
<head>


    <title>Fragments</title>

</head>

<body>

    <!--SAMPLE-->
    <!--    <nav th:fragment = "adminNavBar"-->
    <!--         class = "navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow fixed-top-2 ">-->
    <!--        <a class = "navbar-brand col-sm-3 col-md-2 mr-0" th:href = "dashboard" id = "adminNav">Admin Dashboard</a>-->
    <!--    </nav>-->


    <!--    BEGIN EDIT HASHTAG FRAGMENT-->
    <div th:fragment = "editHashtag">
        <h2 class = "mt-4">Edit Hashtag</h2>
        <hr>

        <div class = "col-12 m-1 text-center"
             th:if = "${!errors.isEmpty()}">
            <p class = "alert alert-danger" th:each = "error : ${errors}"
               th:text = "${error.message}">Error message</p>
        </div>

        <form th:action = "@{hashtagEdit}" class = "col-12" method = "POST">

            <div class = "form-group row">
                <label for = "title" class = "col-2 col-form-label text-right font-weight-bold">
                    Hashtag</label>
                <input type = "text" id = "title" name = "title" class = "col-9 form-control"
                       th:value = "${hashtag.title}">
            </div>

            <input type = "hidden" th:value = "${hashtag.hashtagId}" name = "hashtagId"
                   id = "hashtagId">

            <input type = "hidden"
                   th:name = "${_csrf.parameterName}"
                   th:value = "${_csrf.token}"/>

            <div class = "form-group row justify-content-around my-4">
                <button class = "btn btn-danger" type = "submit" name = "action"
                        value = "cancel">
                    Cancel
                </button>
                <button class = "btn btn-dark" type = "submit" name = "action" value = "save">
                    Save Changes
                </button>
            </div>

        </form>

    </div>

    <!--    END EDIT HASHTAG FRAGMENT-->

    <!--    ADMIN HASHTAG DETAILS FRAGMENT-->

    <div th:fragment = "adminHashtagDetails">
        <h2 class = "mt-4">
            Hashtag Details:
            <span th:text = "${hashtag.title + ' - ' + hashtag.numberOfPosts + ' posts'}"></span>
        </h2>
        <hr>

        <h6 class = "text-right">
            <a href = "#" th:href = "@{/admin/hashtagEdit(id=${hashtag.hashtagId})}">Edit</a> |
            <a href = "#" th:href = "@{/admin/hashtagDelete(id=${hashtag.hashtagId})}">Delete</a>
        </h6>


        <div class = "row m-4">

            <table class = "table table-striped">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Create Date</th>
                    <th>Post Date</th>
                    <th>Expire Date</th>
                    <th>Last Edited</th>
                    <th>Static</th>
                    <th>Approved</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each = "post : ${posts}">
                    <td><a href = "#" th:href = "@{/admin/postDetails(id=${post.postId})}"><span
                            th:text = "${post.title}">Post Title</span></a></td>
                    <td th:text = "${post.user.firstName+' '+ post.user.lastName}">Author</td>
                    <td th:text = "${#temporals.format(post.createdAt, 'MM/dd/yyyy')}">Created On</td>
                    <td th:text = "${#temporals.format(post.postAt, 'MM/dd/yyyy')}">Post On</td>
                    <td>
                                    <span th:if = "${post.expireAt}!= null"
                                          th:text = "${#temporals.format(post.expireAt, 'MM/dd/yyyy')}"></span>
                        <span th:if = "${post.expireAt} == null">none</span>
                    </td>
                    <td th:text = "${#temporals.format(post.lastEditedAt, 'MM/dd/yyyy')}">Last Edited</td>
                    <td th:text = "${post.staticPage}">Static</td>
                    <td th:text = "${post.approvalStatus}">Approved</td>
                    <td><a href = "#" th:href = "@{/admin/postEdit(id=${post.postId})}">Edit</a>
                    </td>
                    <td><a href = "#" th:href = "@{/admin/postDelete(id=${post.postId})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>


    <!--    END ADMIN HASHTAG DETAILS FRAGMENT-->

    <!--    ADMIN HASHTAG TABLE FRAGMENT-->

    <div th:fragment = "adminHashtagTable">
        <h2 class = "mt-4">All Hashtags</h2>
        <p class = "small">(alphabetical order)</p>


        <table class = "table table-striped">
            <thead>
            <tr>
                <th>Hashtag</th>
                <th>Number of Posts</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "hashtag : ${hashtags}">
                <td><a href = "#" th:href = "@{/admin/hashtagDetails(id=${hashtag.hashtagId})}"><span
                        th:text = "${hashtag.title}">Hashtag Title</span></a></td>
                <td th:text = "${hashtag.numberOfPosts}">Number Of Posts</td>
                <td><a href = "#" th:href = "@{/admin/hashtagEdit(id=${hashtag.hashtagId})}">Edit</a>
                </td>
                <td><a href = "#" th:href = "@{/admin/hashtagDelete(id=${hashtag.hashtagId})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--    END ADMIN HASHTAG TABLE FRAGMENT-->

</body>