<!DOCTYPE html>
<html lang = "en" xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">
<head>


    <title>Fragments</title>

</head>

<body>

    <!--SAMPLE-->
    <!--    <nav th:fragment = "adminNavBar"-->
    <!--         class = "navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow fixed-top-2 ">-->
    <!--        <a class = "navbar-brand col-sm-3 col-md-2 mr-0" th:href = "dashboard" id = "adminNav">Admin Dashboard</a>-->
    <!--    </nav>-->


    <!--    ADMIN COMMENT DETAILS FRAGMENT-->

    <div th:fragment = "adminPostDetails">
        <div class = "row mt-4 ml-1" style = "position: relative;"><h2>Post Details</h2>
            <span style = "position:absolute; right: 0; top:0;">
	                            <a id = "previewPostOnBlog" th:href = "@{/blog/post(id=${post.postId})}"
                                   class = "btn btn-outline-primary">
                                Preview Post On Blog
                                </a>
                        </span>
        </div>
        <hr>


        <h6 class = "text-right">
            <a href = "#" th:href = "@{/admin/postEdit(id=${post.postId})}">Edit</a> |
            <a href = "#" th:href = "@{/admin/postDelete(id=${post.postId})}">Delete</a>
        </h6>


        <div class = "row m-4">

            <div class = "col-3 text-right font-weight-bold my-1">Post Title</div>
            <div class = "col-9 text-left">
                <span th:text = "${post.title}">Post Title</span>
            </div>

            <div class = "col-3 text-right font-weight-bold my-1">Create Date</div>
            <div class = "col-9 text-left">
                <span th:text = "${#temporals.format(post.createdAt, 'EEEE MMMM d, yyyy,  h:mm a', new java.util.Locale('en', 'EN'))}">Create Date</span>
            </div>

            <div class = "col-3 text-right font-weight-bold my-1">Publish Date</div>
            <div class = "col-9 text-left">
                <span th:text = "${#temporals.format(post.postAt, 'EEEE MMMM d, yyyy,  h:mm a', new java.util.Locale('en', 'EN'))}">Publish Date</span>
            </div>

            <div class = "col-3 text-right font-weight-bold my-1">Expire Date</div>
            <div class = "col-9 text-left">
                <span th:text = "${#temporals.format(post.expireAt, 'EEEE MMMM d, yyyy,  h:mm a', new java.util.Locale('en', 'EN'))}">Expire Date</span><span
                    th:if = "${post.expireAt}==null">none</span>
            </div>

            <div class = "col-3 text-right font-weight-bold my-1">Last Edited</div>
            <div class = "col-9 text-left">
                <span th:text = "${#temporals.format(post.lastEditedAt, 'EEEE MMMM d, yyyy,  h:mm a', new java.util.Locale('en', 'EN'))}">Last Edited</span>
            </div>

            <div class = "col-3 text-right font-weight-bold my-1">Author</div>
            <div class = "col-9 text-left">
                <a th:href = "@{/admin/userDetails(id=${post.user.userId})}"><span
                        th:text = "${post.user.firstName + ' '+ post.user.lastName}">Author</span></a>
            </div>

            <div class = "col-3 text-right font-weight-bold my-1">Static Page</div>
            <div class = "col-9 text-left">
                <span th:text = "${post.staticPage}">Static Page</span>
            </div>

            <div class = "col-3 text-right font-weight-bold my-1">Approval Status</div>
            <div class = "col-9 text-left">
                <span th:text = "${post.approvalStatus}">Approval Status</span>
            </div>

            <div class = "col-3 text-right font-weight-bold my-1">Hashtags</div>
            <div class = "col-9 text-left">
                <span th:each = "hashtag : ${post.hashtagsForPost}">
                    <a th:text = "${'#'+hashtag.title}" th:href = "@{/admin/hashtagDetails(id=${hashtag.hashtagId})}">#Hashtag</a>
                </span>
            </div>

            <div class = "col-3 text-right font-weight-bold my-1">Content</div>
            <div class = "col-9 text-left">
                <span th:utext = "${post.content}">Content</span>
            </div>

        </div>
    </div>


    <!--    END ADMIN COMMENT DETAILS FRAGMENT-->

    <!--    ADMIN COMMENT TABLE FRAGMENT-->

    <div th:fragment = "commentsForApproval">
        <h2 class = "mt-4">Comments For Approval</h2>

        <table class = "table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Create Date</th>
                <th>Author</th>
                <th>Post Title</th>
                <th>Approved</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "comment : ${comments}">
                <td><a href = "#" th:href = "@{/admin/commentDetails(id=${comment.commentId})}"><span
                        th:text = "${comment.title}">Comment Title</span></a></td>
                <td th:text = "${#temporals.format(comment.createdAt, 'MM/dd/yyyy')}">Created On</td>
                <td th:text = "${comment.user.firstName+' '+ comment.user.lastName}">Author</td>
                <td th:text = "${comment.post.title}">Post Title</td>
                <td th:text = "${comment.approvalStatus}">Approved</td>
                <td><a href = "#" th:href = "@{/admin/commentDelete(id=${comment.commentId})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--    END ADMIN COMMENT TABLE FRAGMENT-->

</body>