<!DOCTYPE html>
<html lang = "en" xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">
<head>


    <title>Fragments</title>

</head>

<body>


        <!--BEGIN ADMIN DASHBOARD NAV-->


    <nav th:fragment = "adminNavBar"
         class = "navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow fixed-top-2 ">
        <a class = "navbar-brand col-sm-3 col-md-2 mr-0" th:href = "dashboard" id = "adminNav">Admin Dashboard</a>
    </nav>

    <nav th:fragment = "adminSidebar" class = "col-md-2 d-none d-md-block bg-light sidebar">
        <div class = "sidebar-sticky">
            <ul class = "nav flex-column">
                <li class = "nav-item">
                    <a class = "nav-link" href = "users">
                        <span class = "currentPageLinkUsers">Users</span>
                    </a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href = "posts">
                        <span class = "currentPageLinkPosts">Posts</span>
                    </a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href = "hashtags">
                        <span class = "currentPageLinkHashtags">Hashtags</span>
                    </a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href = "postApproval">
                        <span class = "currentPageLinkPostApproval">Post Approval</span>
                    </a>
                </li>
                <li class = "nav-item">
                    <a class = "nav-link" href = "commentApproval">
                        <span class = "currentPageLinkCommentApproval">Comment Approval</span>
                    </a>
                </li>
                <li class = "btn btn-info my-4" style = "width: 75%;align-self: center;">
                    <a class = "text-light" th:href = "@{/admin/postCreate}">Create New Post</a>
                </li>
            </ul>
        </div>
    </nav> <!-- end sidebar -->
    <!--END ADMIN DASHBOARD NAV-->


</body>